body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: fixed center url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0710/0807/rboho_feather_repeat_trio_highres.png)

}
p {
    display: inline-block !important;
}

@font-face {font-family: edo; src: url('../font/edosz.ttf');}

.titles {
  font-family: edo; 
  font-size: 6rem; 
  margin-top:-1%;
  text-align: center;
  color: #A82020;
  text-shadow: 2px 0 0 #292929, -2px 0 0 #292929, 0 2px 0 #292929, 0 -2px 0 #292929, 1px 1px #292929, -1px -1px 0 #292929, 1px -1px 0 #292929, -1px 1px 0 #292929;
}

iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Global */
.container {
    width: 65%;
    margin: auto;
    padding: 0;
    text-decoration: none;
    color: #ffe484;
    border-color: #ffe484;
}

.container100 {
    width: 65%;
    margin: auto;
    padding: 0;
    text-decoration: none;
    color: #ffe484;
    border-color: #ffe484;
}

.header {
    position: relative;
    max-height: 350px;
    width: 100%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
;

}
ul li {
    padding: 0 20px 0 20px;
    display: inline-block;
}

#chickenhead {

    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    opacity: 0.8;


}

nav {
    position: relative;
    background-color: #292929;
    opacity: 0.9;
    padding: .5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;

}

.btn {
    font-weight: 500;
    color: #ffe484;
    border-color: #ffe484;
    border: 1px solid #ffe484;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-left: 1rem !important;
    text-decoration: none;

    
}

.btn:hover {
    color: #292929;
    border-color: whitesmoke;
    background-color: #ffe484;

}

.btn-art {
    bottom: 10px;
    right: 40px;
    position: absolute;
} 

  
.card:hover, .card100:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 4s;
    animation-name: shazam;
}
  
.card {
    padding: 2px 16px;
    max-width: 25%;
    margin: 2%;
    position: relative;
    background: #292929;
    opacity: 0.9;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;

}

.card100 {
    padding: 2px 16px;
    width: 100%;
    margin: auto;
    position: relative;
    background: #292929;
    display: inline-block;
    opacity: 0.9;
    overflow: hidden;
    border-radius: 10px;

}

.card100 > img {
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    max-height: 150px;
    float: left;
}

.card > img {
    margin-top: 4%;
    max-height: 150px;
    float: left;
}

.container-card {
    width: 65%;
    position: relative;
    margin: auto;
}
.texto {
    float: left;
    padding-left: 2%;
    padding-right:2%;
    vertical-align: text-top;
    text-align: justify;
}


h4 {
    margin-bottom: 0;
}


.textimp, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
    background-color: whitesmoke;
  }
  

  .container-form {
    border-radius: 10px;
    background-color: #292929;
    padding: 20px;
  }


.carousel-wrapper {
    position: relative;
}
    
    .carousel-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 25px 50px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      border: 1px solid #aaa;
}
      .arrow {
      position: absolute;
      top: 44%;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      background: url("http://haloxp.com/codepen/carousel-arrow-dark.png") 40% 50% / 15px no-repeat;


} 

.arrow:hover {
    background: url("http://haloxp.com/codepen/carousel-arrow-light.png") 40% 50% / 15px no-repeat;
    background-color: #292929;
}

        .arrow-prev {
          left: 3%;
        }
  
        .arrow-next {
          right: 3%;
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
        }

        .arrowbg {
            background-color: whitesmoke;
            border-radius: 50%;
            padding: 1%;
            opacity: 0.6;
        
        }


      @media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }
      }
    
  
    [id^="target-item"] {
      display: none;
    }
    
  
    .item-1 {
      z-index: 2;
      opacity: 1;
    }
  
    *:target ~ .item-1 {
      opacity: 0;
    }
  
    #target-item-1:target ~ .item-1 {
      opacity: 1;
    }

    #target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
    }

@media screen and (max-width: 826px) {
    .card {
     max-width: 38%
    }
  }

  @media screen and (max-width: 623px) {
    .card {
     max-width: 34%
    }
  }





